*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/src/main/resources/static/angular/node_modules
/src/main/resources/static/angular/app/app.component.js
/src/main/resources/static/angular/app/app.component.js.map
/src/main/resources/static/angular/app/app.module.js
/src/main/resources/static/angular/app/app.module.js.map
/src/main/resources/static/angular/app/main.js
/src/main/resources/static/angular/app/main.js.map
/src/main/resources/static/angular/typings
