@import 'https://fonts.googleapis.com/css?family=PT+Sans';

body {
    font-family: 'PT Sans', 'sans-serif';
    margin-left: 30px;
}

.error {
    background-color: lightcoral;
}

.success {
    background-color: lightgreen;
}
